*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


body{
  background-color: white;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  opacity: 0.95;
  z-index: 50;
}


header .logo{
  color: rgb(114, 111, 100);
  display: flex;
  align-items: center;
  font-family: cursive;
}


header nav li{
  position: relative;
  float: left;
}


header nav li a .txt{
  padding: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vh;
}


.img_head{
  width:5vw;
}


h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1;
  font-size: 1.5vw;
}


.txt{
  color: #ffffff;
  padding: 10px;
  transition:0.1s linear;
}


.txt:hover {
  color: #fff;
  background: #f66d52;
}


.mi{
  display: flex;
  justify-content: space-around;
flex-wrap: wrap;
}


h1{
  margin-top: 120px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1;
  font-size: 3vw;
  color: rgb(0, 0, 0);
}


h3{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1%;
  color: rgb(0, 0, 0);
}



.product-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid #ccc;
  padding: 16px;
  border-radius: 15px;
  float: left;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}


.text2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1;
  font-size: 1.1vw;
  color: rgb(0, 0, 0);
}


.text3{
  margin-top: 50px;
  width: 50%;
  border: 0px solid red;
}


.che{
  width:100%;
}



.txt3{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1;
  font-size: 1.1vw;
  color: rgb(0, 0, 0);
}